<!DOCTYPE html>
<html>
<head>
    <title>Acerca de Mi</title>
</head>
<body>

<h1>Acerca de mi</h1>

<p>Hola, soy Nicolas. Bienvenido a mi página personal.</p>
<h3> Soy estudiante autodidacto de toda la rama informatica, estoy realizando estudios adicionales de programacion y ciberseguridad</h3>
<h3> Actualmente estoy trabajando en un supermercado de manera part-time, siempre progresando de manera personal y de la mejor manera </h3>
<h3> Vivo en Argentina y espero pronto poder salir del pais por aventuras y conocimientos profesionales </h3>

<!-- Puedes agregar más información sobre ti aquí -->

</body>
</html>
